@import "variables";
@import "media";
.ac-btn {
  display: flex;
  background-color: #fff;
  border: 7px solid #f0f2f7;
  border-radius: 100%;
  padding: 20px;
  font-size: 10px;
  color: #707070;
  border-radius: 100%;
  transition: 0.1s box-shadow ease-in-out;
  filter: drop-shadow(0px 2px 1px #e4e4e4);
  cursor: pointer;
  background: linear-gradient(
    220deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: -4px -4px 20px 0px #ffffff33, -3px -3px 3px 0px #ffffff33,
    4px 4px 20px 0px #0001, 2.5px 2.5px 3px 0px #0001,
    inset 0px 0px 0px 0px #ffffff33, inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #ffffff33, inset 0px 0px 0px 0px #0001;

  &__wrapper {
    display: flex;
    flex-direction: column;
    transition: 0.1s transform ease-in-out;
    min-height: 62px;
  }

  &__icon {
    margin-top: 10px;
    position: relative;
    &--wave {
      display: none;
    }
    &--fan {
      display: block;
    }
    &--white {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    img {
      width: 38px;
      aspect-ratio: 1/1;
      left: 12px;
    }
  }
  &--heat &__icon {
    &--wave {
      display: block;
    }
    &--fan {
      display: none;
    }
  }

  &.active {
    background-color: $secondary-color;
    background: linear-gradient(
      220deg,
      $secondary-color 0%,
      $secondary-color 100%
    );
    color: $white;
    box-shadow: 0px 0px 0px 0px #ffffff33, 0px 0px 0px 0px #ffffff33,
      0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001,
      inset -4px -4px 20px 0px #ffffff33, inset -2.5px -2.5px 3px 0px #ffffff33,
      inset 4px 4px 10px 0px #0003, inset 2.5px 2.5px 3px 0px #0001;
  }
  &--heat {
    &.active {
      background-color: #d42300;
      background: linear-gradient(220deg, #d42300 0%, #d42300 100%);
    }
  }
  &.active &__wrapper {
    transform: scale(0.95);
  }
  &.active &__icon {
    &--white {
      opacity: 1;
    }
    &--gray {
      opacity: 0;
    }
  }
}

@include responsive(xl) {
  .ac-btn {
    padding: 11px;
    font-size: 9px;
    &__icon {
      img {
        width: 32px;
        left: 15px;
      }
    }
    &__wrapper {
      padding-top: 5px;
    }
  }
}
