@import "variables";
@import "media";

.stepper-input {
  background-color: #f0f2f7;
  padding: 14px 12px;
  width: 215px;
  color: $primary-color;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid #b9bed1;
  font-size: 30px;
  line-height: 35px;

  &__arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__image {
      width: 25px;
      aspect-ratio: 26/10;
      height: auto;
      cursor: pointer;
      transition: all 0.3s;

      &--disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    &__divider {
      width: 44px;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #b9bed1;
      margin: 0;
      padding: 0;
    }
  }

  &__counter {
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex: 1;
    gap: 17px;
    text-align: center;
    overflow: hidden;

    &__label {
      font-size: 20px;
      position: relative;
      top: 5px;
    }
  }
}

@include responsive(xl) {
  .stepper-input {
    width: 160px;
    padding: 12px 12px;
    font-size: 22px;
    &__arrows {
      gap: 10px;
      &__image {
        width: 20px;
      }
      &__divider {
        width: 30px;
      }
    }

    &__counter {
      gap: 10px;
      &__label {
        font-size: 15px;
      }
    }
  }
}

@include responsive(xs) {
  .stepper-input {
    font-size: 20px;

    &__counter {
      &__label {
        font-size: 13px;
      }
    }
  }
}
